<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Recorder</title>
</head>
<style>
    .container {
        display: flex;
        justify-content: center;
    }
    .cnter{
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<body>
    <div class="container">
        <h1>TEST SITE FOR VOICE RECORDER</h1>
    </div>
    <div class="cnter">
        <form action="/voice" method="POST">
            <input type="submit" value="Click To Record">
        </form>
    </div>
</body>

</html>
